In [15]:
# Regular imports
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
# Special imports
import tmdbsimple as tmdb
import os, json, math, time
from tqdm.notebook import tqdm_notebook

import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

In [16]:
# Create database 
connection_str = 'mysql+pymysql://root:Neiu1234@localhost/movies'
engine = create_engine(connection_str)
if database_exists(connection_str) == False:
    create_database(connection_str)
else: 
    print("Already there my friend")

Already there my friend

In [17]:
df = pd.read_csv('Data/tmdb_results_combined.csv.gz')
df_basics = pd.read_csv('Data/title_basics.csv.gz')
# df.head()
df_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,NaN,74,"Horror,Music,Thriller"

In [18]:
temp = df_basics.loc[0, 'genres'].split(',')
print(type(temp))
temp

<class 'list'>

['Comedy', 'Fantasy', 'Romance']

In [19]:
df_basics['genres_split'] = df_basics['genres'].str.split(',')
df_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,NaN,74,"Horror,Music,Thriller","[Horror, Music, Thriller]"

In [20]:
# Make a list of genres
exploded = df_basics.explode('genres_split')
exploded

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
80721,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,90,"Action,Adventure,Thriller",Action
80721,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,90,"Action,Adventure,Thriller",Adventure
80721,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,90,"Action,Adventure,Thriller",Thriller
80722,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History",Drama
80722,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History",History

Convert the single string of genres from title basics into 2 new tables.
title_genres: with the columns:

tconst
genre_id
genres:

genre_id
genre_name

In [21]:
df_title_genre = exploded[['tconst', 'genres_split']]
df_title_genre

          tconst genres_split
0      tt0035423       Comedy
0      tt0035423      Fantasy
0      tt0035423      Romance
1      tt0062336        Drama
2      tt0069049        Drama
...          ...          ...
80721  tt9916190       Action
80721  tt9916190    Adventure
80721  tt9916190     Thriller
80722  tt9916362        Drama
80722  tt9916362      History

[150642 rows x 2 columns]

In [22]:
genres_to_make = exploded['genres_split'].dropna().unique()
len(genres_to_make)

26

In [23]:
## Making the genre mapper dictionary
genre_ints = range(len(genres_to_make))
genre_map = dict(zip(genres_to_make, genre_ints))
genre_map

{'Comedy': 0,
 'Fantasy': 1,
 'Romance': 2,
 'Drama': 3,
 'Horror': 4,
 'Sci-Fi': 5,
 'Music': 6,
 'Thriller': 7,
 'Mystery': 8,
 'Musical': 9,
 'Action': 10,
 'Adventure': 11,
 'Crime': 12,
 'Animation': 13,
 'Family': 14,
 'History': 15,
 'War': 16,
 'Biography': 17,
 'Sport': 18,
 'Western': 19,
 'Adult': 20,
 'Short': 21,
 'Reality-TV': 22,
 'News': 23,
 'Talk-Show': 24,
 'Game-Show': 25}

In [24]:
# make genre map a data frame
genre_lookup = pd.DataFrame({'Genre_Name': genre_map.keys(),
                          'Genre_Id': genre_map.values()})
genre_lookup # new table add table

    Genre_Name  Genre_Id
0       Comedy         0
1      Fantasy         1
2      Romance         2
3        Drama         3
4       Horror         4
5       Sci-Fi         5
6        Music         6
7     Thriller         7
8      Mystery         8
9      Musical         9
10      Action        10
11   Adventure        11
12       Crime        12
13   Animation        13
14      Family        14
15     History        15
16         War        16
17   Biography        17
18       Sport        18
19     Western        19
20       Adult        20
21       Short        21
22  Reality-TV        22
23        News        23
24   Talk-Show        24
25   Game-Show        25

In [25]:
## make new integer genre_id and drop string genres
df_title_genre['genre_id'] = df_title_genre['genres_split'].map(genre_map)
df_title_genre = df_title_genre.drop(columns='genres_split')
df_title_genre #add new table to database  no primary key

C:\Users\default.DESKTOP-0LDO0LD\AppData\Local\Temp\ipykernel_13704\3081870490.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_title_genre['genre_id'] = df_title_genre['genres_split'].map(genre_map)

          tconst  genre_id
0      tt0035423         0
0      tt0035423         1
0      tt0035423         2
1      tt0062336         3
2      tt0069049         3
...          ...       ...
80721  tt9916190        10
80721  tt9916190        11
80721  tt9916190         7
80722  tt9916362         3
80722  tt9916362        15

[150642 rows x 2 columns]

In [32]:
df_basics.drop(columns=['genres','genres_split'], inplace=True)

In [34]:
# get max string length
max_str_len_tconst = df_basics['tconst'].fillna('').map(len).max()
max_str_len_title = df_basics['primaryTitle'].fillna('').map(len).max()


from sqlalchemy.types import *
## Calculate max string lengths for object columns
# already in line 2 and 3
# key_len = basics['tconst'].fillna('').map(len).max()
# title_len = basics['primaryTitle'].fillna('').map(len).max()

## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(max_str_len_tconst+1), 
    "primaryTitle": Text(max_str_len_title+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [35]:
# df_basics.set_index('tconst').to_sql('title_basics', engine, index=True, dtype=df_schema)

# Save to sql with dtype and index=False
df_basics.to_sql('title_basics', engine, dtype=df_schema, if_exists='replace', index=False)

80723

In [36]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [37]:
pd.read_sql("Select * from title_basics", engine)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,None,118
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,None,70
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,None,122
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,None,100
4,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020.0,None,74
...,...,...,...,...,...,...,...,...
80718,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,None,74
80719,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,None,97
80720,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,None,51
80721,tt9916190,movie,Safeguard,Safeguard,0,2020.0,None,90
80722,tt9916362,movie,Coven,Akelarre,0,2020.0,None,92

In [40]:
df_combo = pd.read_csv('Data/tmdb_results_combined.csv.gz')
# add new table, primary key
#  remove rows that are imdb_id  = 0
df_combo.duplicated().sum() # drop duplicates

1200